*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Mountains of Christmas', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}

img {
    display: block;
}

.game-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 9999999;
}

.difficulty {
    position: absolute;
    top: 30%;
    left: -74%;
    text-transform: uppercase;
}

.level {
    font-size: 22px;
}

#what {
    text-decoration: line-through;
}

.game-title {
    font-size: 45px;
}

.game-canvas {
    position: relative;
    background-color: white;
    width: 300px;
    height: 300px;
    margin-bottom: 15px;
}

.icon {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    user-select: none;
}

#mandarin,
#grinch {
    width: 24px;
    height: 24px;
}

#grinch{
    display: none;
}

.game-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.game-info-text {
    font-size: 25px;
    margin: 0;
}

.game-info-text:first-child {
    margin: 5px;
}

.start-button,
.restart-button,
.try-again-btn {
    cursor: pointer;
    text-transform: uppercase;
    color: white;
    border: sold 1px black;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: orangered;
}

.btn-display-none {
    display: none;
}

.disable-button {
    background-color: lightgray;
    cursor: not-allowed;
}