*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding-bottom: 40px;
}

.my-container {
    padding-top: 20%;
}

.display-none {
    display: none;
}

.filter-container {
    position: fixed;
    z-index: 10;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    padding-top: 13%;
}

.modal-window {
    position: relative;
    background-color: white;
    margin: 0 auto;
    height: 170px;
    border: solid 1px black;
    padding-top: 4%;
}

.title {
    text-align: center;
    height: 50%;
}

.close-btn {
    position: absolute;
    top: 0%;
    right: 1%;
    color: red;
    cursor: pointer;
    font-weight: 900;
    height: 25%;
}

.accordion-conteiner {
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.acc-wrapper {
    margin-bottom: 20px;
    width: 25%;
    cursor: pointer;
}

.acc-style {
    border: solid 1px black;
    border-radius: 0 0 6px 6px;
    margin: 0 auto;
}

.sub-acc-style {
    display: none;
    width: 90%;
    border-radius: 0 0 8px 8px;
    border: solid 1px black;
    margin: 0 auto;
}

.active-sub-acc-style {
    display: block;
}