*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding-top: 40px;
}

.form-control {
    margin-bottom: 10px;
}

.card-block {
    padding-top: 30px;
}

.card {
    margin-bottom: 10px;
    padding: 5px;
}

.btn {
    margin-right: 10px;
}

.form-check-input,
.form-check-label {
    margin-right: 3px;
    vertical-align: middle;
}