*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding-top: 40px;
}

.form-control {
    margin-bottom: 10px;
}

.card-block {
    padding-top: 30px;
}

.card {
    margin-bottom: 10px;
    padding: 5px;
}